<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1" />
<title>Swadhyaya Impact Asessment Quiz</title>
<link rel="icon" th:href="@{/favicon.ico}"></link>
<link th:href="@{/css/bootstrap.min.css}" rel=" stylesheet" />
<link th:href="@{/css/font-awesome.min.css}" rel=" stylesheet" />
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
	<div style="text-align: center;">
		<strong style="font-size: 2rem;"> YOUR SESSION HAS TIMED
			OUT.. PLEASE LOGIN AGAIN </strong>
	</div>


</body>
</html>